<div class="example-button-row">
  <form [formGroup]="service_login.formLogin" class="normal-form">

  <p>
    <mat-form-field style="width: 75%;"   appearance="outline" id="LGN">
      <mat-label>Pseudo*</mat-label>
      <input matInput  formControlName="username" >
      <mat-hint >N apogee/...</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" id="MDP">
      <mat-label>Mot de passe*</mat-label>
      <input matInput formControlName="mdp" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix class="clickcable" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint >passe</mat-hint>
    </mat-form-field>
  </p>

  <p>
  <button type="submit" (click)="onSubmit()" mat-stroked-button color="primary" [disabled]="service_login.formLogin.invalid">Connexion</button>

  </p>
</form>
<br>
</div>
