
<body>


<header >
  <table class="tab1"  >
    <tr>

      <th >
        <p style="width:70%;margin-left:200px;;text-align:center">
          Royaume du Marroc<br>
          Université Mohammed premier <br>
          Ecole Supérieure De Technologie<br>
          Oujda

        </p>
      </th>
    </tr>
  </table>
</header>

<div class="b1">
  <br>
  <br>
  <div class="title">
    <h1 style="margin-left:180px;text-decoration:underline">Convention de stage</h1> </div><br><br>
  <b>Article 1 : </b> La présente convention intervient entre : <br>
  <p></p>
  <b>L’Ecole Supérieure de Technologie d’Oujda</b> représentée par M. Yassine ZARHLOULE Directeur de l’Ecole<br>
  <p></p>
  <p>Complexe Universitaire El Qods. BP.473 Oujda –Maroc<br>
    Tél : 0536500224/25. Fax : 0536500223.
  </p>
  <p></p>
  <p>ET :<br>
    <b>{{doc?.nom_entre}}<br>
      {{doc?.ville_entre}}</b></p>
  <p></p>
  <p>Tél {{doc?.tel_entre}} </p>
  <p></p>

  <b>Article 2 : </b> la présente convention concerne les stages de formation professionnelle et les visites
  d’entreprises obligatoires en vue de la délivrance du Diplôme Universitaire de Technologie (DUT). <br>
  Les stages et visites en question concernent 	l’étudiant(e) : <b>{{etudiant?.nom}} {{ etudiant?.prenom}}</b> de la filière <b>{{etudiant?.filiere}}</b>. La période de stage est fixée comme suit :<br>
  <b>{{doc?.dureestage}} </b> à partir du  <b>{{doc?.date_debut_stage}}</b>.<br>
  <p></p>
  <b>Article 3 :</b>le stage a pour buts :
  <ul>
    <li>De permettre la prise de contact avec le monde du travail.</li>
    <li>De tester les possibilités d’adaptation personnelles  des étudiants.</li>
    <li>De mettre en pratique les connaissances acquises à l’EST.</li>
    <li>De le préparer à la rédaction de son  rapport de stage et sa soutenance.</li>

  </ul>
  <p></p>
  <b>Article 5 :</b> Le programme du stage est établi par le responsable chargé de l’encadrement du stagiaire. L’institution se réserve le droit de réorienter l’apprentissage du stagiaire en fonction des qualifications de ce dernier et du rythme de ses activités professionnelles.<br>
  <p></p>

  <b>Article 6 :</b> Pendant la durée du stage, le stagiaire demeure étudiant et reste affilié au règlement de l’école.<br>
  <p></p>

  <b>Article 7 :</b> En cas d’absence, le stagiaire doit aviser, dans les vingt-quatre heures,  les responsables du stage respectivement au sein de l’entreprise d’accueil et de l’EST.<br>
  <p></p>

  <b>Article 8 : </b>Les stagiaires ne sont liés par aucun contrat de travail avec l’entreprise d’accueil.<br>
  <p></p>

  <b>Article 9 : </b>Les stagiaires ne peuvent prétendre à aucun salaire. Toutefois, une gratification peut être envisagée selon le gré  et l’appréciation  du directeur de l’institution.<br>
  <p></p>

  <b>Article 10 :</b> Les étudiants de l’Ecole doivent présenter une police d’assurance au responsable dans l’établissement qui offre le stage, ce dernier n’assume pas la responsabilité en cas d’accident.<br>
  <p></p>

  <b>Article 11 :</b> A son retour à l’ESTO, le stagiaire est tenu de remettre un rapport de stage qui fera l’objet d’une soutenance devant un jury formé d’enseignants et éventuellement  de l’encadrant du stagiaire au sein de l’entreprise selon la disponibilité du responsable.<br>
  <p></p>

  <table>
    <tr>
      <td> Lu et approuvé</td>	<td> Lu et approuvé </td></tr>
    <tr>	<th><i>Le Directeur  de  «{{doc?.nom_entre}}» {{doc?.ville_entre}}</i></th>	<th><i>Le Directeur de l’ESTO</i></th></tr>

  </table>
  <p></p><p></p>
  <footer style="margin-top: 200px;border-top:1px solid #000;padding-top:5px;text-align:center;">
    <address>ESTO. Adresse: BP 473 Complexe universitaire BP 473 Oujda <br>
      Tél: 05 36 50 02 24  Fax: 05 36 50 02 23  site web: http://www.esto.ump.ma
    </address>
  </footer>
</div>

</body>
