
<mat-card [class.mat-elevation-z6]="isActive">
  <mat-card-header >
    <mat-card-title><span class="text-capitalize">{{x?.prenom}}</span><span class="text-uppercase"> {{x?.nom}}</span></mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>


  <mat-card-content>
    <div style="float: left ;height: 320px;">
      <img class="pho" style="background-size: cover; width: 300px" mat-card-image *ngIf="x?.image!==null" src="../../../assets/img/{{x?.image}}">
      <img class="pho" style="background-size: cover; width: 300px" mat-card-image *ngIf="x?.image==null" src="../../../assets/img/default.png">

    </div>

    <div class="di">

      <mat-list role="list">
        <mat-list-item role="listitem"><mat-icon color="primary">person</mat-icon><b><span style="color:#00008B" class=" border-bottom divi">№ Apogé: </span></b> <span>{{x?.n_responsable}}</span></mat-list-item>
        <mat-list-item role="listitem"><mat-icon color="primary"> people_outline</mat-icon><span style="color:#00008B" class=" border-bottom "><b> CNI: </b></span><span class="text-uppercase"> {{x?.cni}}</span></mat-list-item>
        <mat-list-item role="listitem"><mat-icon color="primary"> email</mat-icon><span style="color:#00008B" class=" border-bottom "><b> Email: </b></span> <span class="text-uppercase"> {{x?.email}}</span></mat-list-item>
        <mat-list-item role="listitem"><mat-icon color="primary"> dialpad</mat-icon><span style="color:#00008B" class=" border-bottom "><b> Tel: </b></span> <span > {{x?.n_tel}}</span></mat-list-item>

      </mat-list>

    </div>

  </mat-card-content>
  <!--<mat-card-actions>
     <button mat-button color="primary"><mat-icon> create </mat-icon> Modifier </button>
  </mat-card-actions>-->
</mat-card>




