
<header style="border-bottom:1px solid #000;height:100px">

  <div style="width:70%;margin-left:100px;;text-align:center">
    <p>
      Royaume du Maroc<br>
      Université Mohammed premier <br>
      Ecole Supérieure De Technologie<br>
      Oujda
    </p>

  </div>
</header>
<P></P>
<div></div>
<div class="date" style="margin-left:400px;">Oujda, le : ………….………</div><br>
<div class="lieu" style="margin-left:300px;">A : …………….….……………………………………………</div><br>
<div style="padding-left:40px;">
  <br>
  <br>
  <p><b>Objet:</b>Demande de stage</p>
  <div>Madame, Monsieur,</div>
  <div class="dep">L’Ecole Supérieure de Technologie d’Oujda dispense une formation initiale à finalité Professionnelle, à la fois théorique et pratique.
  </div><br>
  <div class="dep">Cette formation comprend différentes  filières recouvrant des spécialités définies selon les besoins du tissu socioéconomique.</div>
  Les objectifs et les programmes des filières sont fixés par des commissions pédagogiques nationales comprenant des enseignants et des représentants d’entreprises.
  <br><br>
  <div class="dep">En complément de cet enseignement, nos étudiants sont tenus d’effectuer des stages en milieu professionnel :
  </div>
  <div class="dep">A fin de vous associer au processus d’intégration de nos étudiants dans
    la vie professionnelle et à la formation que nous dispensons,</div> nous vous demandons de bien vouloir permettre à notre étudiant :<br>
  <p>
    <b>Nom et Prénom : {{etudiant?.nom }} {{ etudiant?.prenom}}</b><br>
    <b>C.N.E : {{etudiant?.cne}}</b><br>
    <b>Filière : {{etudiant?.filiere}}</b><br></p><p></p>
  <div class="dep">D’effectuer un stage dans votre établissement.</div><br>
  <div class="dep">A l’issue de ce stage, un rapport devra être soutenu devant un jury .une copie de ce rapport devra être remise au responsable de stage</div>
  au sein de l’établissement d’accueil.Nous vous informons que cet étudiant doit être couvert par une police d’assurance qu’il vous présentera en pièce jointe.<br>
  <br>
  <div class="dep">En espérant que cette proposition aura retenu votre attention, nous restons à votre entière disposition pour toute information</div> complémentaire.<br>
  <div class="dep"> Nous vous prions, Madame, Monsieur, de croire en nos sentiments les meilleurs.</div>

</div>
<footer style="margin-top: 200px;border-top:1px solid #000;padding-top:2px;text-align:center;">
  <address>ESTO. Adresse: BP 473 Complexe universitaire BP 473 Oujda <br>
    Tél: 05 36 50 02 24  Fax: 05 36 50 02 23  site web: http://www.esto.ump.ma
  </address>
</footer>
