<span style="font-size: 40px ; margin-left: 10px" class="lead">Demande de diplôme</span>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Nouvelle demandes"><ng-template matTabContent> <app-tout-dmd-ddd></app-tout-dmd-ddd></ng-template> </mat-tab>
  <mat-tab label="Demande accepté"> <ng-template matTabContent><app-ddd-accepte></app-ddd-accepte> </ng-template> </mat-tab>
  <mat-tab label="Demande refusé"><ng-template matTabContent> <app-ddd-refuse></app-ddd-refuse></ng-template> </mat-tab>
</mat-tab-group>

