@import '~bootstrap/dist/css/bootstrap.min.css'; /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.controles{
  width: 100%;
  padding: 5%;

}
.controles > *{
  width: 100%;
}
.button-row button{
  margin: 5px;
}
.button-row2 button{
  margin: 11px;
}
mat-error {
  color: blue;
}

mat-input-invalid mat-input-ripple {
  background-color: blue;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgba(0,0,0,.54);
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(0,0,0,.54);
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: rgba(0,0,0,.100);

}
/* notification */
snack-bar-container.success {
  background-color: #2aff0b;
  color : #fbf9ff;
}

snack-bar-container.success1 {
  background-color: #ff1a00;
  color : #fff;
}
.clickcable{
  cursor: pointer;
}

snack-bar-container.notification simple-snack-bar{
  font-size: 14px !important;
  font-weight: bold;
}
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: rgba(0, 0, 0, 0.07);
}
.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
