<span style="font-size: 40px ; margin-left: 10px" class="lead">Demande de stage</span>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Nouvelle demandes"> <ng-template matTabContent> <app-tout-dmd-dds></app-tout-dmd-dds> </ng-template></mat-tab>
  <mat-tab label="Demande accepté"><ng-template matTabContent> <app-dds-accepte></app-dds-accepte> </ng-template></mat-tab>
  <mat-tab label="Demande refusé"><ng-template matTabContent> <app-dds-refuse></app-dds-refuse> </ng-template> </mat-tab>
</mat-tab-group>

