<span style="font-size: 40px ; margin-left: 10px" class="lead">Convention de stage</span>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Nouvelle demandes"> <ng-template matTabContent><app-tous-dmd-cds></app-tous-dmd-cds> </ng-template></mat-tab>
  <mat-tab label="Demande accepté"> <ng-template matTabContent> <app-cds-accepte></app-cds-accepte></ng-template> </mat-tab>
  <mat-tab label="Demande refusé"> <ng-template matTabContent> <app-cds-refuse></app-cds-refuse> </ng-template></mat-tab>
</mat-tab-group>

