<span style="font-size: 40px; margin-left: 10px" class="lead">Relevé de notes</span>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Nouvelle demandes"><ng-template matTabContent><app-tout-dmd-rdn></app-tout-dmd-rdn> </ng-template></mat-tab>
  <mat-tab label="Demande accepté"><ng-template matTabContent> <app-rdn-accepte></app-rdn-accepte> </ng-template> </mat-tab>
  <mat-tab label="Demande refusé"><ng-template matTabContent> <app-rdn-refuse></app-rdn-refuse> </ng-template> </mat-tab>
</mat-tab-group>

