<header style="border-bottom:1px solid #000;height:100px">
  <div style="border-right: 1px solid black;width:20%;float:left">

  </div>
  <div style="width:70%;float:left;text-align:center; margin-left: 95px;">
    <p>
      Royaume du Maroc<br>
      Université Mohammed premier <br>
      Ecole Supérieure De Technologie<br>
      Oujda
    </p>

  </div>
</header>


<div style="padding-left:40px;padding-top:50px;">

  <h1  style="text-decoration:underline;text-align:center;margin-top:100px;margin-bottom:40px">Attestation de Scolarité</h1>
  <p style="padding-left:70px;">Le Directeur de l'Ecole Supérieure de Technologie d'Oujda atteste que :</p>

  <table style="width:100%">

    <tr>
      <td>L'étudiant (e)</td>
      <td>:</td>
      <td>{{etudiant?.nom}} {{etudiant?.prenom}}</td>
    </tr>
    <tr>
      <td>Né le</td>
      <td>:</td>
      <td>{{etudiant?.dateNaissance}}</td>
    </tr>
    <tr>
      <td>C.N.E</td>
      <td>:</td>
      <td>{{etudiant?.cne}}</td>
    </tr>
    <tr>
      <td>N° inscription</td>
      <td>:</td>
      <td>{{etudiant?.n_apogee}}</td>
    </tr>
    <tr>
      <td>Filière</td>
      <td>:</td>
      <td>{{etudiant?.filiere}}</td>
    </tr>
  </table>

  <div style="margin-bottom: 60px;margin-top: 60px">
    A été inscrit(e) en {{etudiant?.annee_etude}} année du Diplôme Universitaire de Technologie pour l’année universitaire 2018/2019. <br>
    Cette attestation est délivrée à l’intéressé(e) pour servir et valoir ce que de droit. <br><br>
    Oujda le :
  </div>



  Le Directeur



</div>

<footer style="margin-top: 270px;border-top:1px solid #000;padding-top:5px;text-align:center;">
  <address>ESTO. Adresse: BP 473 Complexe universitaire BP 473 Oujda <br>
    Tél: 05 36 50 02 24  Fax: 05 36 50 02 23  site web: http://www.esto.ump.ma
  </address>
</footer>
