

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list>
        <mat-list-item routerLink=""> <mat-icon color="primary"> home</mat-icon> Accueil </mat-list-item>
        <mat-list-item> <mat-icon color="primary"> note_add</mat-icon> Demande des documents </mat-list-item>
        <mat-list-item routerLink="ADS" class=" souslist"> Attestation de scolarité </mat-list-item>
        <mat-list-item routerLink="RDN" class="souslist"> Relevé de note </mat-list-item>
        <mat-list-item routerLink="demandeDiplome" class="souslist"> Demande de diplôme </mat-list-item>
        <mat-list-item routerLink="damandeStage" class="souslist"> Demande de stage </mat-list-item>
        <mat-list-item routerLink="conventionStage" class="souslist"> Convention de stage </mat-list-item>

        <mat-list-item> <mat-icon color="primary">school</mat-icon>Notes </mat-list-item>
        <mat-list-item routerLink="TMD" (click)="number_doc()">
          <mat-icon color="primary" *ngIf="count_doc?.length !== 0"  matBadge={{count_doc?.length}}  matBadgeColor="accent" > insert_drive_file </mat-icon>
          <mat-icon color="primary" *ngIf="count_doc?.length == 0" > insert_drive_file</mat-icon>
          Mes demandes </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../assets/img/old.png" class="logo img-fluid mx-auto d-block mb-3" alt="">

      <span class="ppp">Espace Etudiant</span>
      <span class="spacer"></span>

      <img mat-fab [matMenuTriggerFor]="menu" class="mmm clickcable" *ngIf="x?.image!==null" src="../../../assets/img/{{x?.image}}">
      <img mat-fab [matMenuTriggerFor]="menu" class="mmm clickcable" *ngIf="x?.image==null" src="../../../assets/img/default.png">


      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['p']">
          <mat-icon color="primary">account_circle</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item routerLink="reclamation" >
          <mat-icon color="primary">feedback</mat-icon>
          <span>Réclamation</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon color="primary">exit_to_app</mat-icon>
          <span>Déconnection</span>
        </button>
      </mat-menu>



    </mat-toolbar>

    <!-- Add Content Here -->
    <br>

    <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </main>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>


